.mnemosyne.md
.claude/.welcomed
.claude/.no-profile
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/plugins/
.quartz-cache
private/
.replit
replit.nix
public_new
public_old
