@use "../../styles/variables.scss" as *;

.content-meta {
  margin-top: 0;
  color: var(--darkgray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }

  @media all and not ($desktop) {
    font-size: 0.75rem;
    margin-top: 0.25rem;
  }
}
